In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('in-vehicle-coupon-recommendation.csv')

In [3]:
missing_values = df.isna().sum()

In [4]:
print("Missing values per column:")

Missing values per column:

In [5]:
print(missing_values)

destination                 0
passanger                   0
weather                     0
temperature                 0
time                        0
coupon                      0
expiration                  0
gender                      0
age                         0
maritalStatus               0
has_children                0
education                   0
occupation                  0
income                      0
car                     12576
Bar                       107
CoffeeHouse               217
CarryAway                 151
RestaurantLessThan20      130
Restaurant20To50          189
toCoupon_GEQ5min            0
toCoupon_GEQ15min           0
toCoupon_GEQ25min           0
direction_same              0
direction_opp               0
Y                           0
dtype: int64

In [6]:
total_missing = df.isna().sum().sum()
print(f"\nTotal missing values in the dataset: {total_missing}")

Total missing values in the dataset: 13370

The df.isna().sum() function is used to find the total sum of the numbers of the missing columns.

To handle the missing values the removal technique has been used.

In [7]:
df.dropna(inplace=True)

In [8]:
df.dropna(axis=1, inplace=True)

The first command is used to to remove rows with missing values and the second command is used to remove the missing values in the columns.

In [10]:
duplicateRows = df[df.duplicated()]
print(f"Duplicate rows:\n{duplicateRows}")

Duplicate rows:
Empty DataFrame
Columns: [destination, passanger, weather, temperature, time, coupon, expiration, gender, age, maritalStatus, has_children, education, occupation, income, car, Bar, CoffeeHouse, CarryAway, RestaurantLessThan20, Restaurant20To50, toCoupon_GEQ5min, toCoupon_GEQ15min, toCoupon_GEQ25min, direction_same, direction_opp, Y]
Index: []

[0 rows x 26 columns]

The above command is used to print the duplicate rows of the dataset.

In [11]:
df.drop_duplicates(inplace=True)

The above command removes the duplicate rows.

In [12]:
print(f"Shape after removing duplicates: {df.shape}")

Shape after removing duplicates: (108, 26)

The above command shows the shape of the dataset after removing duplicate elements .i.e, the no. of rows and the no. of columns left.

In [13]:
df.to_csv('cleaned_dataset.csv', index=False)
print("\nCleaned dataset saved as 'cleaned_dataset.csv'")

Cleaned dataset saved as 'cleaned_dataset.csv'

In [20]:
df = pd.read_csv('cleaned_dataset.csv')

In [23]:
print(df)

         destination  passanger weather  temperature  time  \
0    No Urgent Place      Alone   Sunny           55   2PM
1    No Urgent Place  Friend(s)   Sunny           80  10AM
2    No Urgent Place  Friend(s)   Sunny           80  10AM
3    No Urgent Place  Friend(s)   Sunny           80  10AM
4    No Urgent Place  Friend(s)   Sunny           80   2PM
..               ...        ...     ...          ...   ...
103             Work      Alone   Rainy           55   7AM
104             Work      Alone   Rainy           55   7AM
105             Work      Alone   Snowy           30   7AM
106             Work      Alone   Snowy           30   7AM
107             Work      Alone   Sunny           80   7AM

                    coupon expiration gender  age maritalStatus  ...  \
0          Restaurant(<20)         1d   Male   26        Single  ...
1             Coffee House         2h   Male   26        Single  ...
2                      Bar         1d   Male   26        Single  ...
3    Carry out & Take away         2h   Male   26        Single  ...
4             Coffee House         1d   Male   26        Single  ...
..                     ...        ...    ...  ...           ...  ...
103        Restaurant(<20)         2h   Male   21        Single  ...
104      Restaurant(20-50)         1d   Male   21        Single  ...
105        Restaurant(<20)         2h   Male   21        Single  ...
106      Restaurant(20-50)         1d   Male   21        Single  ...
107        Restaurant(<20)         1d   Male   21        Single  ...

     CoffeeHouse CarryAway RestaurantLessThan20 Restaurant20To50  \
0            4~8       4~8                  1~3            never
1            4~8       4~8                  1~3            never
2            4~8       4~8                  1~3            never
3            4~8       4~8                  1~3            never
4            4~8       4~8                  1~3            never
..           ...       ...                  ...              ...
103        less1       1~3                less1            less1
104        less1       1~3                less1            less1
105        less1       1~3                less1            less1
106        less1       1~3                less1            less1
107        less1       1~3                less1            less1

    toCoupon_GEQ5min toCoupon_GEQ15min toCoupon_GEQ25min direction_same  \
0                  1                 0                 0              0
1                  1                 0                 0              0
2                  1                 0                 0              0
3                  1                 1                 0              0
4                  1                 0                 0              0
..               ...               ...               ...            ...
103                1                 1                 1              0
104                1                 1                 1              0
105                1                 1                 1              0
106                1                 1                 1              0
107                1                 0                 0              1

    direction_opp  Y
0               1  1
1               1  0
2               1  1
3               1  0
4               1  1
..            ... ..
103             1  1
104             1  1
105             1  1
106             1  1
107             0  1

[108 rows x 26 columns]

The final output is the cleaned dataset after removing all the duplicate rows and
columns.